table{
    border-collapse: collapse;
    width: 30%;
    margin-top: 20px;
    border: 5px solid #374b92;
    margin-bottom: 5.1%;
}th{
    border: 1px solid ;
    padding: 10px 10px;
}tr:first-child:hover{
    background-color: rgb(123, 189, 243);
}
tr:hover{
    background-color: rgb(126, 242, 255);
}

td{
    text-align: center;
    border: 1px solid;
    font-weight: 500;
    padding: 7px;
}
label{
    font-size: 20px;
}
input{
    margin-top: 4%;
}#botonesContainer{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}#botonSiguiente{
    margin-right: 60%;
}