
body {
  background-color: #c8e5e9;
  display: flex;
  flex-direction: column; 
  margin: 0;
  
}
main {
  margin-top: 10%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
}
.container {
  width: 18%;
  height: 50%;
  padding: 1.5%;
  border-radius: 16px;
  border: solid 5px #038C8C;
  background-color: #0ba9bb;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  margin-bottom: 0%;
  font-size: 40px;
}


.input-box {
  display: flex;
  width: 100%;
  margin-top: 12%;
}

.input-box input {
  width: 100%;
  padding: 3% 10% 3%;
  border-radius: 100px;
  border: solid 3px rgba(19, 194, 107, 0.25);
  background-color:rgb(90, 190, 236);
  outline: none;
  color: rgb(223, 218, 211);
  font-weight: 500;
}
.input-box :hover{
  background-color: #77b6d7;
}

.input-box input:focus {
  border: solid 3px #26afaf;
}

.input-box input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}select{
  background: #0ba9bb;
  border-color: #038C8C;
  width: 30%;
  text-align: center;
  border: none;
}

.button {
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 3px 3px #038C8C;
}

.button:focus {
  outline: #32CDDD5A 3px solid;
}

.create-account {
  font-weight: normal;
  margin-top: 20px;
}

.create-account a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
